@{
    ViewData["Title"] = "Thank You";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h4>@ViewBag.dispm</h4>
            </div>
            <div class="col s12 center-align">
                <img src="~/img/thankyou.jpg" height="250" width="500"/>
            </div>
        </div>
    </div>
</main>